<div class="fluid-container toolbar-container" th:fragment="header">
		<nav class="fluid-block toolbar">
			<div class="toolbar-menu">
				<div class="toolbar-menu-location">Docs</div>
				<button id="site-menu-button" type="button" class="toolbar-menu-button">Site Menu</button>
			</div>
			<div id="site-menu" class="toolbar-menu-items">
				<ul class="toolbar-links">
					<li><a href="../../index.html" class="toolbar-link">Home</a></li>
					<li><a href="../../download.html" class="toolbar-link">Download</a></li>
					<li class="selected"><a href="../../documentation.html" class="toolbar-link">Docs</a></li>
					<li><a href="../../ecosystem.html" class="toolbar-link">Ecosystem</a></li>
					<li><a href="../../faq.html" class="toolbar-link">FAQ</a></li>
				</ul>
				<ul id="site-nav-links" class="toolbar-links">
					<li><a href="http://forum.thymeleaf.org/" class="toolbar-link">Forum</a></li>
					<li><a href="https://twitter.com/thymeleaf" class="toolbar-link">Twitter</a></li>
					<li><a href="https://github.com/thymeleaf" class="toolbar-link">GitHub</a></li>
				</ul>
			</div>
		</nav>
	</div>